body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

#heros {
  width: 592px;
  margin: 0 auto 72px ;
}/* O margin auto serve somente para as laterais e não top e bot */

#heros img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

/*Virgula serve para enviar comando para mais de um grupo */

span, a {
  color: #FF9900;
}

p, #footer {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}

#line {
  width: 568px;
  height: 0;
  border: 1px solid #ECEFF2;
  margin: 0 auto 8px;
}
/* Class pode substituir o id e quando for selecionar no css 
tem que usar . no lugar do # */

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}